<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="text-center mb-4">
          <h1>Sign Up</h1>
          <h6>Register yourself by filling below details!</h6>
        </div>
        <form [formGroup]="signUpForm">
          <div class="form-group">
            <label for="name">Full Name</label>
            <input
              type="text"
              formControlName="name"
              class="form-control"
              id="name"
              placeholder="Full Name"
            />
            <span
              class="text-danger"
              *ngIf="
                signUpForm.controls['name'].dirty &&
                signUpForm.hasError('required', 'name')
              "
              >*Full name is required</span
            >
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              id="email"
              placeholder="Enter email"
            />
            <span
              class="text-danger"
              *ngIf="
                signUpForm.controls['email'].dirty &&
                signUpForm.hasError('required', 'email')
              "
              >*Email address is required</span
            >
            <span
              class="text-danger"
              *ngIf="signUpForm.hasError('email', 'email')"
              >*Email is Invalid</span
            >
          </div>
          <div class="form-group mt-2">
            <label>User gender</label>
            <select formControlName="gender" id="" class="form-select">
              <option selected value="">Select User Gender</option>
              <option value="female">Female</option>
              <option value="male">Male</option>
            </select>
            <span
              class="text-danger"
              *ngIf="
                signUpForm.controls['gender'].dirty &&
                signUpForm.hasError('required', 'gender')
              "
              >*User type is required</span
            >
          </div>
          <div class="form-group mt-2">
            <label>User Status</label>
            <select formControlName="status" id="" class="form-select">
              <option selected value="">Select User Status</option>
              <option value="active">Active</option>
              <option value="inactive">Inactive</option>
            </select>
            <span
              class="text-danger"
              *ngIf="
                signUpForm.controls['status'].dirty &&
                signUpForm.hasError('required', 'status')
              "
              >*User status is required</span
            >
          </div>

          <button
            (click)="signUp()"
            [disabled]="!signUpForm.valid"
            type="button"
            class="btn btn-primary mt-3"
          >
            Sign Up
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
