.btn-edit{
  margin-left: 1rem;
}
.go-back {
  margin: 20px 0 20px 40px;
}

.delete-btn {
  margin-left: 1rem;
}
@media (max-width: 600px) {
  .go-back {
    margin: auto;
  }
  .delete-btn {
    margin-left: 0 !important;
    margin-bottom: 2rem !important;
  }
 
  .table thead {
    display: none;
  }
  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
    margin: 0 !important;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    text-align: right;
    font-size: 10px !important;
    text-align: right;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}
